[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.3"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg = "==3.1.9"
psycopg2 = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.11"
